body {
    background-color: #7d8187;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%; 
    margin: 0;
}

nav {
    position: fixed;
}
.name {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    font-weight: bold;
}

.navbar{
    list-style-type: none; 
    margin: 0;
    padding: 0;
    position:sticky;
    top:0;
    overflow: hidden;
    background-color:#e0e7ff;
    height:auto;
}

.navbar li{
    float: left;
    border-right: 1px solid #475671;
}

.navbar li:last-child {
    border-right: none;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #3e4249;
}

.navbar li a:hover{
    color: #ffffff;
    background-color: #475671;
}

.column {
    border: 3px #aaacb3;
    background-color: #b3b8bc;
    border-radius: 5px;
    margin: 2px;
}

.column ul {
    list-style-type: none;
}
